div.stChatMessage.css-4oy321.eeusbqq4 {
  background: rgb(66, 73, 73, 0.5);
  padding: 2% 2% 2% 2%;
  
}

div.stChatMessage.css-1c7y2kd.eeusbqq4 {
  background-color: #D6EAF8;
  padding: 2% 2% 2% 2%;
}
